spring:
  application:
    name: eureka

server:
  port: 8761

eureka:
  instance:
    hostname: ${HOSTNAME:eureka-server}
  client:
    register-with-eureka: false
    fetch-registry: false
    service-url:
      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/